<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <ProjectReference Include="..\..\Cervis.MyApp.Framework\Cervis.MyApp.Framework.csproj" />
  </ItemGroup>

  <ItemGroup>
    <Content Include="..\..\appsettings.dev.json" Link="appsettings.dev.json">
      <CopyToOutputDirectory>Always</CopyToOutputDirectory>
    </Content>
    <Content Include="..\..\appsettings.json" Link="appsettings.json">
      <CopyToOutputDirectory>Always</CopyToOutputDirectory>
    </Content>
  </ItemGroup>
</Project>