@page "/"
@using System.Globalization;
@using Cervis.ClArc.Framework.Views.Blazor
@using Microsoft.AspNetCore.Localization
@namespace Cervis.ClArc.Host.Views.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    HttpContext.Response.Cookies.Append(CookieRequestCultureProvider.DefaultCookieName, CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(CultureInfo.CurrentCulture, CultureInfo.CurrentUICulture)));
}

@inject IStaticPageSettings StaticResourceProvider

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@StaticResourceProvider.Title</title>
    <base href="~/" />
    <link rel="icon" href="@StaticResourceProvider.Icon.OriginalString" />

    @foreach (Uri stylesheet in StaticResourceProvider.Stylesheets)
    {
        <link href="@stylesheet.OriginalString" rel="stylesheet" />
    }
</head>
<body style="background-color: #E8F4FB;">
    <app>
        <component type="typeof(Application)" render-mode="Server" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    @foreach (Uri script in StaticResourceProvider.Scripts)
    {
        <script src="@script.OriginalString"></script>
    }
</body>
</html>
